<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fangsfmac.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".progressLoading_01.ProgressLoadingActivity" />
        <activity android:name=".colorTrackTextView_02.ColorTrackTextViewActivity" />
        <activity android:name=".loadingView_03.LoadingViewActivity" />
        <activity android:name=".ratingbarView_04.RatingBarViewActivity" />
        <activity android:name=".powerLoadingView_05.PowerBatteryLevelActivity" />
        <activity android:name=".letterIndexView_06.LetterIndexActivity" />
        <activity android:name=".tagLayout_07.TagLayoutActivity" />
        <activity android:name=".kuguo_slideMenu_08.KuGuoSlideMenuActivity" />
        <activity android:name=".qqSlideMenu_09.QQSlideMenuActivity" />
        <activity android:name=".foldView_10.FoldViewActivity" />
        <activity android:name=".statusBar_11.StatusActivity" />
        <activity android:name=".custom_Behavior_12.CustomBehaviorActivity" />
        <activity android:name=".FiveEightCityLoad_13.LoadViewActivity" />
        <activity android:name=".DropDownView_14.DropDownActivity" />
        <activity android:name=".loadingView_15.LoadingActivity" />
        <activity android:name=".messageDragView_16.MessageDragActivity" />
        <activity android:name=".AllMessageDragActivity_17.AllMessageDragActivity"></activity>
    </application>

</manifest>